<%-include('header')-%>
<style>
    .borderless-button {
    border: none; /* Remove default button border */
    outline: none; /* Remove default focus outline */
    background-color: transparent; /* Make background transparent */
    padding: 0; /* Remove padding if necessary */
    /* Add any additional styling as needed */
}
</style>

<!-- header -->
<div class="container" style="background-color: black; height: 10%; margin-top: 5%; display: flex;  align-items: center; padding-left: 5%;">
    <img src="/image/dashboard.jpg" style="height: 5%; width: 5%; ">
    <h1 style="color: white; padding-left: 0%;">Dashboard</h1>
    <img src="/image/profileadmin.png" style="width: 3%; height: 3%; margin-left: 70%;">
</div>

<!-- body -->
<div class="container" style="background-color: black; height: fit-content; margin-top: 3%; display: flex;  align-items: center; padding-left: 5%; padding-top: 3%; padding-bottom: 3%;">
    
    <div class="card" style="width: 25%; height: 50%; display: flex;">

            <div class="card-body">
                <div class="inner-card" style="display: flex;">
                    <img src="/image/dash.png" style="height: 15%; width: 15%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Dashboard</h5>
                </div>

                <div class="inner-card" style="display: flex;">
                    <img src="/image/usermanage.png" style="height: 15%; width: 15%; padding-top: 5%;">
                    <!-- <h5 style="padding-left: 5%; padding-top: 2%;">User <br> Management</h5> -->
                    <form action="/admin/userManagement" method="get">
                        <button class="borderless-button" type="submit" style="font-size: large; font-weight: 500; margin-left: 16%; padding-top: 2%; text-align: left;">User <br> Management</button>
                    </form>  
                </div>

                <div class="inner-card" style="display: flex;">
                    <img src="/image/productmanage.png" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Product <br> Management</h5>
                </div>

                <div class="inner-card" style="display: flex;">
                    <img src="/image/categorymanage.jpg" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Category <br> Management</h5>
                </div>

                <!-- <div class="inner-card" style="display: flex;">
                    <img src="/image/ordermanage.png" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Order <br> Management</h5>
                </div> -->

                <!-- <div class="inner-card" style="display: flex;">
                    <img src="/image/bannermanage.png" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Banner <br> Management</h5>
                </div> -->

                <!-- <div class="inner-card" style="display: flex;">
                    <img src="/image/couponmanage.jpg" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Coupon <br> Management</h5>
                </div> -->

                <!-- <div class="inner-card" style="display: flex;">
                    <img src="/image/sales.png" style="height: 15%; width: 15%; padding-top: 5%;">
                    <h5 style="padding-left: 5%; padding-top: 2%;">Sales <br> Report</h5>
                </div> -->

                <div class="inner-card" style="display: flex;">
                    <img src="/image/logoutadmin.png" style="height: 15%; width: 15%;">
                    <form action="/admin/adminLogout" method="post">
                        <button class="borderless-button" type="submit" style="font-size: large; font-weight: 500; margin-left: 16%; padding-top: 2%;">Logout</button>
                    </form>                
                </div>
            </div>
    </div>

        <!-- <div class="card" style="width: 80%; margin-left: 5%; margin-bottom: 20%;">
            <div class="card-body" style="border: 2px solid black; padding-top: 4%; display: flex; margin-top: 3%; margin-left: 5%; width: 90%;">
                <div class="card" style="width: 30%;  border: 2px solid black; padding: 10px;">
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Total Sales</h4> 
                    <h3 style="font-weight: bold; font-size:large; text-align: center;">500</h3>
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Today</h4>
                </div>

                <div class="card" style="width: 30%;  border: 2px solid black; padding: 10px; margin-left: 5%;">
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Total Sales</h4> 
                    <h3 style="font-weight: bold; font-size:large; text-align: center;">10,000</h3>
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">This Month</h4>
                </div>

                <div class="card" style="width: 30%;  border: 2px solid black; padding: 10px; margin-left: 5%;">
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Total Customers</h4> 
                    <h3 style="font-weight: bold; font-size:large; text-align: center;">500</h3>
                </div>
            </div>

            <div class="card-body" style="border: 2px solid black; padding-top: 4%; display: flex; margin-top: 3%; margin-left: 5%; width: 90%;">

                <div class="card" style="width: 30%;  border: 2px solid black; padding: 10px; margin-left: 5%;">
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Total Sales This Week</h4> 
                </div>

                <div class="card" style="width: 30%;  border: 2px solid black; padding: 10px; margin-left: 5%;">
                    <h4 style="font-weight:400 ; font-size: medium; text-align: center;">Sales By Category</h4> 
                </div>
            </div>
        </div> -->
    
</div>
<%-include('footer')-%>