<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS CDN -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- jQuery CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap JS CDN -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <style>
        body {
            background-color: rgb(0, 0, 0);
        }

        /* Custom styling for the card */
        .card {
            border: none;
            box-shadow: 0px 0px 10px rgba(94, 86, 86, 0.1);
        }


        .form-control {
            border-width: 2px;
            border-color: black;
        }


        /* Custom styling for the form labels */
        label {
            font-weight: bold;
        }

        /* Custom styling for the form button */
        .btn-success {
            width: 50%;
            border-radius: 5px;
            margin-right: 25%;
        }
    </style>
</head>

<body>
    <!-- Change Password form card -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin-top: 10%;">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form action="/newPassword" method="post" onsubmit='return validate()'>
                            <div class="form-group">
                                <label for="inputPasswordOld">New Password</label>
                                <input type="password" class="form-control" name="password" id="password">
                                <span id="passwordError" class="error" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNew">Confirm Password</label>
                                <input type="password" class="form-control" name="newPassword" id="newPassword">
                                <span id="newPasswordError" class="error" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validate() {
            document.getElementById('passwordError').textContent = "";
            document.getElementById('newPasswordError').textContent = "";

            const password = document.getElementById("password").value.trim()
            const newPassword = document.getElementById("newPassword").value.trim()

            if (password === "") {
                document.getElementById("passwordError").textContent = "Password cannot be empty..!";
                return false
            }

            if (password.length < 6) {
                document.getElementById("passwordError").textContent = "Password should contain atleast 6 characters..!";
                return false
            }

            if (! /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/.test(password)) {
                document.getElementById("passwordError").textContent = "Password must be a combination of letters, digits, and symbols";
                return false;
            }

            if (newPassword === "") {
                document.getElementById("newPasswordError").textContent = "Password cannot be empty..!";
                return false
            }

            if (newPassword.length < 6) {
                document.getElementById("newPasswordError").textContent = "Password should contain atleast 6 characters..!";
                return false
            }

            if (! /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$/.test(newPassword)) {
                document.getElementById("newPasswordError").textContent = "Password must be a combination of letters, digits, and symbols";
                return false;
            }

            if (password != newPassword) {
                document.getElementById("newPasswordError").textContent = "Passwords doesn't match";
                return false
            }



            return true
        }
    </script>
</body>

</html>